1.Obtener el nombre de todas las variables

In [74]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [75]:
junin_data = pd.read_excel("C:/Users/USER/Documents/GitHub/1ECO35_R_PYTHON/data/Region_Junin.xlsx")

In [76]:
junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [77]:
print(junin_data.columns) #mostrar todas las variables

Index(['Unnamed: 0', 'Region', 'District', 'Place', '4_6_years_men',
       '4_6_years_women', '4_6_years_total', '6_14_years_men',
       '6_14_years_women', '6_14_years_total', 'man_read', 'women_read',
       'total_read', 'men_not_read', 'women_not_read', 'total_not_read',
       'man_write', 'women_write', 'total_write', 'men_not_write',
       'women_not_write', 'total_not_write', 'instruction_men',
       'instruction_women', 'instruction_total', 'no_instruction_men',
       'no_instruction_women', 'no_instruction_total', 'finished_instr_men',
       'finished_instr_women', 'finished_instr_total',
       'not_finished_instr_men', 'not_finished_instr_women',
       'not_finished_instr_total', 'peruvian_men', 'peruvian_women',
       'foreign_men', 'foreign_women', 'whites', 'natives', 'mestizos',
       'blacks'],
      dtype='object')

2.Mostrar el tipo de variables (type) así como presentar los principales estadísticos.

In [78]:
junin_data.info() #mostrar el tipo de variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  men_not_write             197 non-null    int64
 20  women_not_write           197 non-null    int64
 21  total_not_write           197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

In [79]:
junin_data.describe() #principales estadisticos

,Unnamed: 0,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.000000,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,57.013156,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,98.000000,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,147.000000,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,196.000000,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

3.Verifique si las columnas presentan missing values

In [80]:
junin_data.isnull().values.any() #Si tengo al menos una fila con missing value 
#Si es TRUE hay al menos un missing values 
#Si es FALSE no hay missing value

False

4.Cambie el nombre de las siguientes variables:

In [81]:
#renombrar variables
junin_data.rename(columns = {'Place': 'comunidad','men_not_read': 'nlee_hombre', 'women_not_read': 'nlee_mujer', 'men_not_write': 'nesc_hombre', 'women_not_write' : 'nesc_mujer'}, inplace = True)

In [82]:
junin_data

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

6.Muestre los valores únicos de las siguientes variables ( comunidad , District)

In [83]:
junin_data.comunidad.unique()

array(['C.CIUDAD DEL CERRO', 'P.YANACANCHA', 'VICO', 'RANCA', 'PASCO',
       'QUIRLACOCHA', 'CAJAMARQUILLA', 'CAICO', 'ROCO', 'C.SACRA FAMILIA',
       'P.QUINUA', 'H.PARIAHUANCA', 'P.SULLUMARCA', 'H.SAN ANDRÉS',
       'P.HUALLAY', 'C.HUAYCHAO', 'COCHAMARCA', 'P.CHACAYÁN',
       'VILCABAMBA', 'CUCHES', 'CHANGO', 'MITO', 'ANTAPIRCA', 'P.CAYNA',
       'A. COLPAS', 'P.YACAS', 'C.MASQUIN', 'P.YAMOR', 'PÁUCAR', 'TANGOR',
       'QUIO', 'CAURY', 'CHUCCHUC', 'COQUIN', 'A.YAPOC', 'P.YANAHUANCA',
       'HUAYLACIRCA', 'HUARANTAMBO', 'ANDUCHACA', 'VILLO', 'MICHIVILCA',
       'PILLAO', 'YACÁN', 'TÁPUC', 'CHAUPIMARCA', 'P.OXAPAMPA', 'P.JAUJA',
       'A.CHUNÁN', 'C.PACAPACHA', 'HUANCAS', 'A.HUERTAS', 'PACA', 'MASMA',
       'ATAURA', 'HUALÁ', 'JULCÁN', 'P.RICRÁN', 'A.PAUCÁN', 'P.APATA',
       'HUAMALÍ', 'A.SAN LORENZO', 'PACUCHO', 'P.ORCOTUNA', 'A.VICSO',
       'TISTES', 'P.HUARIPAMPA', 'A.PARCO', 'PACCHA', 'CANCHAPUNCO',
       'C.ULLUSCA', 'CANCHAS', 'P.MUQUIYAUYO', 'MUQUI', 'P.ACOLLA',
       'MARCO', 'TRAGADERO', 'CHOCÓN', 'ACAYA', 'YAUJAILLO', 'CURICACA',
       'P.CINCOS', 'C.LLACUARI', 'P.HUANCARÍ', 'C.CHALHUAS', 'ARAMACHAY',
       'P.MITO', 'A.CHAMBARÁ', 'C.QUICHA', 'HUACHAC', 'A.ACO',
       'P.LLOCLLAPAMPA', 'VISCAS ESPERANZA', 'CONCHAILLO', 'MATA-CHICO',
       'MATA-GRANDE', 'P.CONCEPCIÓN', 'SANTA ROSA DE OCOPA', 'HUANTAR',
       'A.ALAYO', 'C.SAN ANTONIO DE CARICANCHO', 'SANTO DOMINGO',
       'P.CÓMAS', 'C.CHUPA', 'COCHAS', 'P.MATAHUASI', 'P.HUANCAYO',
       'CAJAS', 'P.CHUPACA', 'A.ISCOS', 'ANTAPAMPA', 'HUAUSCA GRANDE',
       'SAN JUAN DE TARPA', 'YANACANCHA', 'COPCA', 'HUAYAN', 'HUAMANCACA',
       'PILCOMAYO', 'AHUAC', 'ACAC', 'P.SAN GERÓNIMO', 'HUALHUAS',
       'SAN PEDRO DE SAÑO', 'QUICHUAY', 'CASACANCHA', 'A.INGENIO',
       'P.SANTA CRUZ DE QUILCAY', 'RANGRA', 'P.SAPALLANGA', 'A.LA PUNTA',
       'P.PUCARÁ', 'C.PATALÁ', 'MARCAVALLE', 'COCHARCAS', 'P.CHONGOS',
       'C.TURPAC Y TINYARI', 'SOCOS', 'PUMPUNGA', 'CHUPURO',
       'CARHUAPACHA', 'A.HUAMANCACA', 'P.SICAYA', 'A.HUANCHAC',
       'C.CACHICAMARCA', 'P.COLCA', 'A.CHACAPAMPA', 'HUASICANCHA',
       'CUCHO', 'CHILIAY', 'POTACA', 'LARIA', 'CHONGOS ALTO',
       'P.HUAYUCACHI', 'HUAMANMARCA', 'VIQUES', 'CACAS', 'HUARAPUQUIO',
       'CULLHUAS', 'RETAMA', 'PACHA', 'P.TARMA', 'MACO', 'MULLUERO',
       'ANDAMARCA', 'CHANCHA', 'TARMATAMBO', 'P.JUNÍN', 'HUASAHUASY',
       'PARI', 'YANEC', 'CHUPÁN', 'ACONCOCHA', 'ONDORES', 'P.ACOBAMBA',
       'PICOY', 'C.HUARACAYO', 'A.PALCA', 'C.HUAILAHUICHÁN',
       'P.PALCAMAYO', 'P.OROYA', 'HUAYNACANCHA', 'HUAYHUAY',
       'P.CARHUAMAYO', 'ULCUMAYO', 'P.SAN RAMÓN', 'LA MERCED',
       'P.VISCATÁN', 'PAN DE AZÚCAR', 'SUITUCANCHA', 'CHACAPALCA',
       'P.POMACOCHA', 'PACHACHACA', 'YAULI', 'MINAS DE MOROCOCHA'],
      dtype=object)

In [84]:
junin_data.comunidad.is_unique
#evaluar si estos valores tienen valores unicos 
#si es TRUE tienen valores unicos 
#si es FALSE tiene repeticiones

False

In [85]:
junin_data.District.unique()

array(['CIUDAD DEL CERRO', 'HUAYLLAY', 'CHACAYÁN', 'CAYNA', 'YANAHUANCA',
       'NINACACA', 'JAUJA', 'APATA', 'ORCOTUNA', 'HUARIPAMPA',
       'MUQUIYAUYO', 'ACOLLA', 'CINCOS', 'MITO', 'LLOCLLAPAMPA',
       'CONCEPCIÓN', 'COCHAS', 'MATAHUASI', 'HUANCAYO', 'CHUPACA',
       'SAN GERÓNIMO', 'SAPALLANGA', 'CHONGOS', 'SICAYA', 'COLCA',
       'HUAYUCACHI', 'TARMA', 'JUNÍN', 'ACOBAMBA', 'OROYA', 'CARHUAMAYO',
       'CHANCHAMAYO', 'VITOC', 'CHACAPALCA', 'YAULI'], dtype=object)

In [86]:
junin_data.District.is_unique
#evaluar si estos valores tienen valores unicos 
#si es TRUE tienen valores unicos 
#si es FALSE tiene repeticiones

False

7. Borrar las variables finished_instr_total, finished_instr_men y finished_instr_women

In [87]:
junin_data.drop(['finished_instr_total','finished_instr_men','finished_instr_women'], axis=1)
# de esta manera eliminamos las columnas finished_instr_total, finished_instr_men y finished_instr_women
# axis=1 lo entendemos como una operacion que se hara de forma vertical

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

8. Crear columnas con las siguiente información: el % de mujeres que no escriben ni leen, % de varones que no escriben ni leen y % de nativos respecto al total de la población

In [88]:
junin_data['%nesc_mujer']=junin_data.nesc_mujer/junin_data.total_not_write #creamos la variable que mide el % de mujeres que no escriben
junin_data['%nlee_mujer']=junin_data.nlee_mujer/junin_data.total_not_read #creamos la variable que mide el % de mujeres que no leen
junin_data['%nesc_hombre']=junin_data.nesc_hombre/junin_data.total_not_write #creamos la variable que mide el % de hombres que no escriben
junin_data['%nlee_hombre']=junin_data.nlee_hombre/junin_data.total_not_read #creamos la variable que mide el % de hombres que no leen
junin_data['%nativos']=junin_data.natives/(junin_data.whites+junin_data.natives+junin_data.mestizos+junin_data.blacks) #creamos la variable que mide el % de nativos
junin_data['poblacion']=(junin_data.whites+junin_data.natives+junin_data.mestizos+junin_data.blacks) #creamos la variable que mide la población total
junin_data

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,whites,natives,mestizos,blacks,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,4,284,290,1,0.381279,0.412104,0.618721,0.587896,0.490501,579
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,100,0,0,0.675676,0.714286,0.324324,0.285714,1.000000,100
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,69,3,0,0.423729,0.531915,0.576271,0.468085,0.958333,72
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,25,25,0,1.000000,1.000000,0.000000,0.000000,0.500000,50
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,37,13,0,0.531915,0.531915,0.468085,0.468085,0.740000,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,35,39,0,0.000000,0.000000,0.418440,1.000000,0.472973,74
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,0,21,2,0,0.350000,0.466667,0.650000,0.533333,0.913043,23
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,0,4,26,0,0.280000,0.318182,0.720000,0.681818,0.133333,30
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,14,69,0,0.353659,0.385965,0.646341,0.614035,0.116667,120
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,1,118,7,0,0.245902,0.254237,0.754098,0.745763,0.936508,126

9. Crear una base de datos con la siguiente información:

a. Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción

b. Ciudades con una cantidad de niños (4-6 años) mayor a 50 y de (6-14 años) > 70

c. Ordenar las variables según el total de la población y cantidad de población nativa

d. Solo quedarse con las variables trabajadas en 8, Distrito, y comunidad.

e. Guardar la mitad de la información en bases diferentes (llamar a cada uno Base1 y Base 2)

f. Guardar la Base1 en formato csv y excel en la carpeta data. (Use el siguiente nombre Base1_WG(numero de grupo))

In [89]:
# a. Nos quedamos con la información solicitada
base=junin_data[(junin_data["District"] == "CIUDAD DEL CERRO")|(junin_data["District"] == "CIUDAD DEL CERRO")|
           (junin_data["District"] == "JAUJA")|(junin_data["District"] == "ACOLLA")|
           (junin_data["District"] == "SAN GERÓNIMO")|(junin_data["District"] == "TARMA")|
           (junin_data["District"] == "OROYA")|(junin_data["District"] == "CONCEPCIÓN")]       

# b. Nos quedamos con las ciudades con cantidades mayores a las solicitadas
Base=base[(base["4_6_years_total"]> 50 ) & (base["6_14_years_total"]> 70 )]       
Base

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,whites,natives,mestizos,blacks,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,4,284,290,1,0.381279,0.412104,0.618721,0.587896,0.490501,579
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,63,117,662,0,0.499142,0.547980,0.500858,0.452020,0.138955,842
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,195,55,0,0.579439,0.735484,0.420561,0.264516,0.780000,250
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,240,8,0,0.480851,0.549020,0.519149,0.450980,0.967742,248
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,333,27,0,0.493197,0.531987,0.506803,0.468013,0.925000,360
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,141,282,0,0.534591,0.556291,0.465409,0.443709,0.333333,423
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,183,65,0,0.600000,0.631016,0.400000,0.368984,0.737903,248
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,348,157,72,0,0.581776,0.606414,0.418224,0.393586,0.272097,577
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,158,189,689,1,0.560907,0.581105,0.439093,0.418895,0.182257,1037

In [90]:
#c. ordenamos la base de datos de acuerdo al número de poblacion y nativos por distrito (usamos sort)
BASE = Base.sort_values(["poblacion","natives"], ascending = [False,True])
BASE

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,whites,natives,mestizos,blacks,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,158,189,689,1,0.560907,0.581105,0.439093,0.418895,0.182257,1037
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,63,117,662,0,0.499142,0.547980,0.500858,0.452020,0.138955,842
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,4,284,290,1,0.381279,0.412104,0.618721,0.587896,0.490501,579
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,348,157,72,0,0.581776,0.606414,0.418224,0.393586,0.272097,577
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,141,282,0,0.534591,0.556291,0.465409,0.443709,0.333333,423
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,333,27,0,0.493197,0.531987,0.506803,0.468013,0.925000,360
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,195,55,0,0.579439,0.735484,0.420561,0.264516,0.780000,250
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,183,65,0,0.600000,0.631016,0.400000,0.368984,0.737903,248
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,240,8,0,0.480851,0.549020,0.519149,0.450980,0.967742,248

In [91]:
#d. Nos quedamos con las variables importantes
data=BASE.iloc[:,[2,3,42,43,44,45,46,47]]
data

,District,comunidad,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
161,TARMA,P.TARMA,0.560907,0.581105,0.439093,0.418895,0.182257,1037
47,JAUJA,P.JAUJA,0.499142,0.547980,0.500858,0.452020,0.138955,842
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,0.381279,0.412104,0.618721,0.587896,0.490501,579
121,SAN GERÓNIMO,P.SAN GERÓNIMO,0.581776,0.606414,0.418224,0.393586,0.272097,577
96,CONCEPCIÓN,P.CONCEPCIÓN,0.534591,0.556291,0.465409,0.443709,0.333333,423
74,ACOLLA,P.ACOLLA,0.493197,0.531987,0.506803,0.468013,0.925000,360
51,JAUJA,A.HUERTAS,0.579439,0.735484,0.420561,0.264516,0.780000,250
97,CONCEPCIÓN,SANTA ROSA DE OCOPA,0.600000,0.631016,0.400000,0.368984,0.737903,248
57,JAUJA,P.RICRÁN,0.480851,0.549020,0.519149,0.450980,0.967742,248

In [92]:
#e. Dividimos los datos en dos partes
Base1=data.iloc[[0,1,2,3,4],:]
Base1

,District,comunidad,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
161,TARMA,P.TARMA,0.560907,0.581105,0.439093,0.418895,0.182257,1037
47,JAUJA,P.JAUJA,0.499142,0.547980,0.500858,0.452020,0.138955,842
0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,0.381279,0.412104,0.618721,0.587896,0.490501,579
121,SAN GERÓNIMO,P.SAN GERÓNIMO,0.581776,0.606414,0.418224,0.393586,0.272097,577
96,CONCEPCIÓN,P.CONCEPCIÓN,0.534591,0.556291,0.465409,0.443709,0.333333,423

In [93]:
Base2=data.iloc[[5,6,7,8],:]
Base2

,District,comunidad,%nesc_mujer,%nlee_mujer,%nesc_hombre,%nlee_hombre,%nativos,poblacion
74,ACOLLA,P.ACOLLA,0.493197,0.531987,0.506803,0.468013,0.925000,360
51,JAUJA,A.HUERTAS,0.579439,0.735484,0.420561,0.264516,0.780000,250
97,CONCEPCIÓN,SANTA ROSA DE OCOPA,0.600000,0.631016,0.400000,0.368984,0.737903,248
57,JAUJA,P.RICRÁN,0.480851,0.549020,0.519149,0.450980,0.967742,248

In [94]:
#f.Guardamos la Base1 en dos formatos
Base1.to_csv("../Base1_WG2.csv")
Base1.to_excel("../Base1_WG2.xlsx")

10. Crear una función que me permita extraer un rango de columnas y de filas. Crear una función que me permite extraer una columna según el nombre de la variable y dos filas.

In [144]:
#Funcion que selecciona rango de columnas y filas
def select(a,cname1,cname2,f1,f2): #select(Base de datos, nombre de columna1, nombre columna2, rango 1, rango2)
    y = a.loc[f1:f2,(cname1,cname2)]
    return y

In [146]:
select(junin_data,'comunidad','natives',1,5)

      comunidad  natives
1  P.YANACANCHA      100
2          VICO       69
3         RANCA       25
4         PASCO       37
5   QUIRLACOCHA       65

In [117]:
#Funcion que extrae columnas por el nombre
def extraer(a,cname,f1,f2): #select(Base de datos, nombre de columna1, rango 1, rango2)
    y = a.loc[f1:f2,cname]
    return y

In [118]:
extraer(junin_data,'natives',2,4)

2    69
3    25
4    37
Name: natives, dtype: int64